{% extends 'theme/base.twig' %}

{% block javascripts %}
    {% block importmap importmap('app') %}
{% endblock %}

{% block body %}
    <header>
        <a href="{{ path('index') }}">
            <img src="/images/logo.svg" alt="Logo"/>
        </a>
        <nav>
            <ul>
                {% for item in menu() %}
                    <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>{{ title }}</h1>
        {% for section in page.sections|default([]) %}
            {% if section.type == 'overview' %}
                <div class="overview">
                    {% for child in children|default([]) %}
                        <a href="{{ child.path[lang] }}">
                            {{ child.name[lang] }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if section.type == 'richtext' or section.type == 'content' %}
                <section>
                    {{ section.content.text|default('')|raw }}
                </section>
            {% endif %}
        {% endfor %}
    </main>
    <footer>
        {{ 'now'|date('Y') }} © KikCMS — <a href="https://kiksaus.nl" target="_blank">kiksaus.nl</a>
    </footer>
{% endblock %}